on boot
    # Permissions for gestures
    chown system system /proc/touchpanel/letter_c_enable
    chown system system /proc/touchpanel/letter_e_enable
    chown system system /proc/touchpanel/letter_s_enable
    chown system system /proc/touchpanel/letter_v_enable
    chown system system /proc/touchpanel/letter_w_enable
    chown system system /proc/touchpanel/letter_z_enable
    chown system system /proc/touchpanel/up_swipe_enable

service vendor.touch-hal /vendor/bin/hw/vendor.lineage.touch-service.asus_sdm660
    class hal
    user system
    group system
